@media only screen and (min-width: 640px) {


html{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: helvetica, sans-serif;
  color: white;
  background: linear-gradient(to top left, rgb(0, 0, 0), #1E261F);
  background-repeat: no-repeat;
  background-size: cover;
}

body{
width: 960px;
  margin: 0 auto;
  padding: 0;
  height: auto;
}

header{
  height: 100px;
  width: 100%;
  background-color: #1E261F;
}

h1, h5{
  margin: 0;
  padding: 0;
  color: white;
}

h1{
  line-height: 95px;
}

a{
  color: black;
  text-decoration: none;
}
a:active{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
  text-decoration: none;
}

#usuario{
  height: 100px;
  width: 15.5%;
  float: left;
  text-align: center;
  border-right: 2px solid rgb(20, 20, 20);
}

#usuario img{
  height: 50px;
  width: 50px;
  margin-top: 15px;
  background-size: cover;
}

#lista{
  height: 100%;
  width: 84%;
  text-align: center;
  float: right;
}

#general{
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

#lateral{
  height: 100%;
  width: 148px;
  margin: 0;
  padding: 0;
  float: left;
}

.elemento{
  height: 187px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 195px;
  color: white;
  background-color: rgba(165,208, 168, 0.05);
  margin-bottom: 5px;
}

.elemento:hover{
  background-color: #1E261F;
}

#drc{
  height: 100%;
  width: 805px;
  float: right;
  overflow-y: scroll;
}

.canciones{
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 133px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.canciones .img{
  width: 100%;
  height: 200px;
}

.canciones .nombre{
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.canciones .img:hover{
  opacity: 0.6;
}

.canciones .uno{
  background-image: url(../img/killer.jpg);
  background-size: cover;
}

.canciones .dos{
  background-image: url(../img/fuego.jpg);
  background-size: cover;
}

.canciones .tres{
  background-image: url(../img/necesario.jpg);
  background-size: cover;
}

.canciones .cuatro{
  background-image: url(../img/distancia.jpg);
  background-size: cover;
}

.canciones .cinco{
  background-image: url(../img/believer.jpg);
  background-size: cover;
}

.canciones .seis{
  background-image: url(../img/wake.png);
  background-size: cover;
}













/* --------------- Tiradors ----------------- */

input[type=range] {
  -webkit-appearance: none; /* Amaga el tirador per fer la màgia */
  width: 100%; /* Firefox necessita una amplada específica */
  background: transparent;  /* Amaga el tirador per fer la màgia */
  background: rgba(255,255,255, 0.2);
  margin: 0.0px 0;
  border-radius: 10px;
  margin: 5px auto;
}
input[type=range]:focus {
  outline: none; /* Per no veure el contorn */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: #4c4d4d;
  border-radius: 10px;
  border: 0px solid #010101;
}

/* Controlador */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: rgba(255,255,255, 0.3);
  cursor: pointer;
  position: relative;
  margin-top: -0.0px;

  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #8100000;
  border: 0px solid #ff1e00;
}


/* --------------- Botons ----------------- */

#playpause {
  position:relative;
  border:none;
  text-decoration:none;
  width: 50px;
  height: 50px;
  background: #4c4d4d;
  border-radius: 50px;
}

#playpause:focus {
  outline: none; /* Per no veure el contorn */
}
#playpause:before, #playpause:after, #playpause:focus:before, #playpause:focus:after {
  position: absolute;
  content: " ";
  z-index: 10000;
}
#playpause:before, #playpause:after {
  height: 15px;
  width: 7px;
  left: 28px;
  top: 18px;
  display: block;
  background: white;
}

#playpause:after {
 left: 15px;
}

#playpause:focus:before {
  top: 15px;
  left: 18px;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  display: block;
  background: transparent;
}

#playpause:focus:after {
 visibility:hidden;
}

.botons{
  width: 110px;
  margin: 0 auto;
  position: relative;
  top: 0px;
}

#cosomusica{
  position: relative;
  top: 420px;
}

.bck, .fwd{
  border: solid 1px #4c4d4d;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  outline: none;
}













.reproductor{
  height: 500px;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: #1E261F 2px solid;
  border-radius: 10px;
  background-size: 400px;
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center 10px;
}

.a{
  background-image: url(../img/killerb.jpg);
}

.b{
  background-image: url(../img/fuegob.jpg);
}

.c{
  background-image: url(../img/necesariob.jpg);
}

.d{
  background-image: url(../img/distanciab.jpg);
}

.e{
  background-image: url(../img/believerb.jpg);
}

.f{
  background-image: url(../img/wakeb.jpg);
}

}
