@media only screen and (max-width: 959px) {

*{
  padding:0;
  margin: 0;
  overflow: hidden;
}

html{
  margin: 0 auto;
  padding: 0;
  height: 960px;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
  font-family: helvetica, sans-serif;
}

body{
  margin: 0 auto;
  padding: 0;
  height: 900px;
  overflow: hidden;
}

header{
  height: 75px;
  width: 100%;
  background-color: rgb(70, 70, 70);
}

h1, h5{
  margin: 0;
  padding: 0;
}

a{
  color: black;
  text-decoration: none;
}
a:active{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: none;
}
a:visited{
  color: black;
  text-decoration: none;
}

#usuario{
  height: 75px;
  width: 75px;
  float: left;
  text-align: center;
  font-size: 0.75em;
  line-height: 1.1em;
  border-right: 2px solid rgb(20, 20, 20);
}

#usuario img{
  height: 40px;
  width: 40px;
  margin-top: 10px;
  background-size: cover;
}

#lista{
  height: 100%;
  width: 720px;
  text-align: center;
  float: right;
}

#general{
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-left: 10px;
}

#lateral{
  height: 100%;
  width: 23%;
  margin: 0;
  padding: 0;
  float: left;
}

#lateral h5{
  line-height: 180px;
}

.elemento{
  height: 100px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: lightblue;
  text-align: center;
}

#drc{
  width: 75%;
  float: left;
}

#reproductor{
  height: 250px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: rgb(50, 50, 50);
}

#canciones{
  height: auto;
  width: 85%;
  margin: 0 auto;
  background-color: aqua;
}

.cancion{
  height: 25px;
  width: 100%;
  margin: 5px 0 5px 0;
  background-color: green;
}

.favorito{
  background-image: url(img/heart.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 10%;
  float: left;
  margin-right: 5px;
}

.nombrecancion{
  height: 25px;
  width: 250px;
  float: left;
  background-color: grey;
  margin-right: 10px;
}

.autor{
    height: 25px;
    width: 250px;
    float: left;
    background-color: grey;
    margin-right: 10px;
}

.duracion{
    height: 25px;
    width: 50px;
    float: left;
    background-color: black;
}









/* --------------- Tiradors ----------------- */

input[type=range] {
  -webkit-appearance: none; /* Amaga el tirador per fer la màgia */
  width: 100%; /* Firefox necessita una amplada específica */
  background: transparent;  /* Amaga el tirador per fer la màgia */
  background: rgba(255,255,255, 0.2);
  margin: 0.0px 0;
  border-radius: 10px;
  margin: 20px auto;
}
input[type=range]:focus {
  outline: none; /* Per no veure el contorn */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  background: #4c4d4d;
  border-radius: 10px;
  border: 0px solid #010101;
}

/* Controlador */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background: rgba(255,255,255, 0.3);
  cursor: pointer;
  position: relative;
  margin-top: 7.0px;

  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #8100000;
  border: 0px solid #ff1e00;
}

/*  opcional  */
/*
input[type=range]:focus::-webkit-slider-runnable-track {
  background: red;
  border-radius: 10px;
}
*/


/* --------------- Botons ----------------- */

#playpause {
  position:relative;
  border:none;
  text-decoration:none;
  width: 100px;
  height: 100px;
  background: #4c4d4d;
  border-radius: 50px;
}

#playpause:focus {
  outline: none; /* Per no veure el contorn */
}
#playpause:before, #playpause:after, #playpause:focus:before, #playpause:focus:after {
  position: absolute;
  content: " ";
  z-index: 10000;
}
#playpause:before, #playpause:after {
  height: 47px;
  width: 19px;
  left: 29px;
  top: 28px;
  display: block;
  background: white;
}

#playpause:after {
 left: 54px;
}

#playpause:focus:before {
  top: 28px;
  left: 34px;
  width: 0;
  height: 0;
  border-left: 47px solid white;
  border-right: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-top: 24px solid transparent;
  display: block;
  background: transparent;
}

#playpause:focus:after {
 visibility:hidden;
}

.botons{
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 18px;
  margin: 0 auto;
  text-align: center;
}

#cosomusica{
  position: relative;
  top: 100px;
}

#barra{
  height: 5px;
  display: inline-block;
}
}
