@media only screen and (max-width: 480px)  and (orientation: portrait) {
header{
}

header h2{
  height: 100%;
  width: auto;
  background-image: url(../iconetes/atras.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.8em;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 3%;
  margin-left: 2%;
}


.central{
  text-align: left;
}

.central h5{
  text-align: left;
  margin-bottom: 2%;
}

.central p{
  text-align: left;
  margin-bottom: 2%;
}

.central input{
  width: 55%;
  margin-bottom: 2%;
}

button{
  margin: 0;
  padding: 0;
}

.central #buscar{
  width: 20%;
  padding: 3px;
  border: 1px solid;
  font-size: 0.6em;
  text-align: center;
}
}
