@media only screen and (max-width: 480px) and (orientation: portrait) {

  body{
    background-color:  rgba(255,153,51,0.15);
  }

  .apartado{
    margin-bottom: 5%;
  }

  .tecnicas{
    background-color: rgba(255,153,51,0.3);
  }

  .errores{
    background-color: rgba(255,153,51,0.3);
  }

  .objetivos{
    background-color: rgba(255,153,51,0.3);
  }

  .estudiar{
    background-color: rgba(255,153,51,0.3);
  }

  .consejos{
    background-color: rgba(255,153,51,0.3);
  }

  .musica{
    background-color: rgba(255,153,51,0.3);
  }

  .otros{
    background-color: rgba(255,153,51,0.3);
  }

}








@media only screen and (min-width: 481px) and (max-width: 739px) and (orientation: landscape) {

  .tecnicas{
    background-image: url(../imagenes/tecnicas_web.jpg);
    background-position: 0px -50px;
    background-size: cover;
  }
  .errores{
      background-image: url(../imagenes/error_web.jpg);
      background-position: 0px -100px;
      background-size: cover;
  }
  .objetivos{
      background-image: url(../imagenes/objetivos_web.jpg);
      background-position: 0px -50px;
      background-size: cover;
  }
  .estudiar{
      background-image: url(../imagenes/estudiar_web.jpg);
      background-position: 0px -50px;
      background-size: cover;
  }
  .consejos{
    background-image: url(../imagenes/consejos_web.jpg);
    background-position: 0px -30px;
    background-size: cover;

  }
  .musica{
    background-image: url(../imagenes/musica_web.jpg);
    background-position: 0px -70px;
    background-size: cover;

  }

}






@media only screen and (min-width: 740px){

  .tecnicas{
    background-image: url(../imagenes/tecnicas_web.jpg);
    background-position: 0px -50px;
    background-size: cover;
  }
  .errores{
      background-image: url(../imagenes/error_web.jpg);
      background-position: 0px -180px;
      background-size: cover;
  }
  .objetivos{
      background-image: url(../imagenes/objetivos_web.jpg);
      background-position: 0px -180px;
      background-size: cover;
  }
  .estudiar{
      background-image: url(../imagenes/estudiar_web.jpg);
      background-position: 0px -130px;
      background-size: cover;
  }
  .consejos{
    background-image: url(../imagenes/consejos_web.jpg);
    background-position: 0px -50px;
    background-size: cover;

  }
  .musica{
    background-image: url(../imagenes/musica_web.jpg);
    background-position: 0px -130px;
    background-size: cover;

  }

}
