@media only screen and (max-width: 480px) and (orientation: portrait)  {

.central{
  position: absolute;
  height: 80%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  overflow-y: scroll;
}

iframe{
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  border: 0px solid rgb(255,153,51);
}

}








@media only screen and (min-width: 481px) and (max-width: 739px) and (orientation: landscape) {

  .central{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    overflow-y: scroll;
  }

  iframe{
    margin-top: 7px;
    margin-left: 5%;
    margin-right: 5%;
    border: 0px solid rgb(255,153,51);
  }

}








@media only screen and (min-width: 740px){

  .central{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    overflow-y: scroll;
  }

  iframe{
    margin-top: 7px;
    margin-left: 5%;
    margin-right: 5%;
    border: 0px solid rgb(255,153,51);
  }

}
