@media only screen and (max-width: 480px) and (orientation: portrait)  {
textarea{
  height: 84%;
  width: 84%;
  margin: 0 auto;
  margin: 5%;
  padding: 3%;
  overflow-y: scroll;
  border: solid 2px rgb(255,153,51);
}
}

@media only screen and (min-width: 481px) and (max-width: 960px) and (orientation: landscape) {

  textarea{
    height: 70%;
    width: 84%;
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 3%;
    padding: 3%;
    border: solid 2px rgb(255,153,51);
  }

}


@media only screen and (min-width: 481px) and (max-width: 960px){

  textarea{
    height: 70%;
    width: 84%;
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 3%;
    padding: 3%;
    border: solid 2px rgb(255,153,51);
  }

}
